<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>SleepWell😴</title>
  <!-- stylesheets -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="CSS/styles.css">
  <!--bootstrap scripts for carousel-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
  <!-- font embedding -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap" rel="stylesheet">

  <!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body style="overflow:hidden;">

  <!-- navbar -->
  <nav>
    <a href="/">
      <img class="logo" src="images/logo.png" alt="logo-image">
    </a>
    <div class="toggler-button">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
    </div>
    <ul class="nav-items">
      <li class="nav-list"><a class="nav-list-link" href="/report">Report</a></li>
      <li class="nav-list"><a class="nav-list-link" href="/newentry">NewUserLogin</a></li>
      <% if(flagValue===0){ %>
        <li class="nav-list"><a class="nav-list-link" href="/signup">SignUp</a></li>
        <li class="nav-list"><a class="nav-list-link" href="/login">Login</a></li>
        <% } else { %>
          <form action="/logout?_method=DELETE" method="POST">
            <li class="nav-list">
              <a href="#logout" class="nav-list-link">
                <input type="submit" class="logout-button" value="Logout">
              </a>
            </li>
          </form>
          <% } %>
    </ul>
  </nav>
  <div class="main-container">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2500">
          <div class="carousel-flex">
            <div class="carousel-text">
              <h1>SleepWell</h1>
              <blockquote><q><cite>Sleep is that golden chain that ties health and our bodies together.</cite></q>
              </blockquote>
              <p>Tracks your Sleep | Make life more healthier</p>
            </div>
            <img src="images/sleepImage.svg" class="d-block w-100 carousel-img" alt="sleep-image">
          </div>
        </div>
        <div class="carousel-item" data-interval="2500">
          <div class="carousel-flex">
            <div class="carousel-text">
              <h1>SleepWell</h1>
              <blockquote><q><cite>Sleep is that golden chain that ties health and our bodies together.</cite></q>
              </blockquote>
              <p>Tracks your Sleep | Make life more healthier</p>
            </div>
            <img src="images/WakeUpImage.svg" class="d-block w-100 carousel-img" alt="WakeUpImage">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    &copy; Muskan Ahuja 2021
  </div>


  <!-- script tags -->
  <script src="JS/script.js" charset="utf-8"></script>
</body>

</html>
